<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-3.0.xsd">

    <!-- task任务扫描注解 -->
<!--     <task:annotation-driven/> -->
    <!-- 扫描位置 -->
<!--     <context:component-scan base-package="me.zhangzhen.job"/> -->


	<!-- quartz配置xml方式 -->
	
	<!-- step1 被调用的job对象bean -->
	<bean id="packActionJob" class="me.zhangzhen.job.XmlJob" />
	
	<!-- step2 job 对应的 jobDeatil -->
	<bean id="packActionJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="packActionJob" />
		</property>
		<property name="targetMethod">  <!-- 要执行的方法名称 -->
			<value>execute</value>
		</property>
	</bean>
	
	<!-- step3 quartz調度触发器工厂 -->
	<!-- ======================== 调度触发器 ======================== -->
	<bean id="packActionJobTigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="packActionJobDetail"></property>
		<property name="cronExpression" value="0/5 * * * * ?"></property>
		<!-- <property name="cronExpression" value="0 0 1 * * ?"></property> -->
	</bean>
	
	<!-- step4 quartz总调度工厂 -->
	<!-- ======================== 调度工厂 ======================== -->
	<bean id="SpringJobSchedulerFactoryBean"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="packActionJobTigger" />
			</list>
		</property>
	</bean>
</beans>