<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhangzhen.mapper.UserMapper">
	<!-- 开启mapper缓存 -->
	<!-- <cache/> -->
	<select id="findUsers" resultType="me.zhangzhen.domian.User" useCache="true">
		select u.* from user u ;	
	</select>
	<!-- 保存 成功返回主键id -->
	<!-- <insert id="createUser" parameterType="me.zhangzhen.domian.User" useGeneratedKeys="true" keyProperty="id">
		insert into user
		(userName,password,gender)
		values
		(#{userName},#{password},#{gender})
	</insert> -->
	
	<insert id="createUser" parameterType="me.zhangzhen.domian.User" >
		insert into user
		(userName,password,gender)
		values
		(#{userName},#{password},#{gender})
	</insert>
	
	<update id="updateUser" parameterType="me.zhangzhen.domian.User" >
		update user set 
		<if test="userName !=null ">
			userName = #{userName},
		</if>
		
		<if test="password !=null ">
			password = #{password},
		</if>
		
		<if test="gender !=null and gender != '' ">
			gender = #{gender}
		</if>
	</update>
	
	<delete id="deleteUserById" parameterType="java.lang.Integer">
		delete from user 
		where id = #{id}
	</delete>
</mapper>